
/* THis is a comment in CSS */

body{
    background-color: deeppink;
}

/* This is an element selcter and will target all elements with the same name*/


h1{
    color: blueviolet;
}

/* This is a class selector and will target any class with the same name
    This is good for reuseability and can be used multiple times on the same page */
.changeMe{
    color: chartreuse;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.movethis{
    display: flex;
    justify-content: center;
}

/* We only use ID for one element and one element only */
#withID{
    color: darkmagenta;
    font-size: 1.5rem;
    background-color: lightcoral;

}